/*Global Style vars*/
$primary-font-family: Arial;
$primary-color: #333;
$primary-font-color: #333;

/*Header style vars*/
$header-font-color: #253B56;
$header-bg-color: #fff;
$header-font-size: 0.75em;

$header-logo-width: 150px;
$header-logo-height: 32px;
